<header id="main-header">
    <h1>MASS SHOOTINGS</h1>
    <h2>In The United States</h2>
    <h3>1966-2017</h3>
</header>
<div id="svg-title">
    <h2>30 DEADLIEST</h2>
</div>
<div id="flex-wrap">
    <div id="svg-con">
        <object id="america" data="images/america.svg" type="image/svg+xml"></object>
        <div id="svg-info">
            <h2></h2>
        </div>
        <div class="left arrow">
                <object id="left" data="images/arrow2.svg" type="image/svg+xml"></object>
            </div>
            <div class="right arrow">
                <object id="right" data="images/arrow1.svg" type="image/svg+xml"></object>
            </div>
    </div>
    {{#each info}}
        <div class="info-con hidden" data-inforef="{{ID}}" id="{{ID}}">
            <div class="loc-con">
                <h2 class="loc-title">{{Location}}</h2>
            </div>
            <div class="title-con">
                <h3>{{Title}}</h3>
                <h4>{{Date}}</h4>
            </div>
            <div class="fatal-con">
                <h2>Fatalities: <span>{{Fatalities}}</span></h2>
                <h2>Injuries: <span>{{Injured}}</span></h2>
            </div>
            <div class="sum-con">
                <p>{{Summary}}</p>
            </div>
        </div>
    {{/each}}
</div>
<div id="chart-wrap">
    <div class="scene-wrap">
        <div class="scene">
            <div class="card">
                <div class="face front-flip">
                    <a class="u-link" href="chart-one"><h2 data-linkref="0">1</h2></a>
                </div>
                <div class="face back-flip">
                    <svg width="340" height="340" class="chart">
                        <circle r="145" cx="170" cy="170" class="pie"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="chart-info">
            <h2 class="chart-per"></h2>
            <p class="chart-para">of these shooters suffered from mental health issues.</p>
        </div>
    </div>
    <div class="scene-wrap">
        <div class="scene">
            <div class="card">
                <div class="face front-flip">
                    <a class="u-link" href="chart-two"><h2 data-linkref="1">2</h2></a>
                </div>
                <div class="face back-flip">
                    <svg width="340" height="340" class="chart">
                        <circle r="145" cx="170" cy="170" class="pie"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="chart-info">
            <h2 class="chart-per"></h2>
            <p class="chart-para">of these shooters were male.</p>
        </div>
    </div>
    <div class="scene-wrap">
        <div class="scene">
            <div class="card">
                <div class="face front-flip">
                    <a class="u-link" href="chart-three"><h2 data-linkref="2">3</h2></a>
                </div>
                <div class="face back-flip">
                    <svg width="340" height="340" class="chart">
                        <circle r="145" cx="170" cy="170" class="pie"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="chart-info">
            <h2 class="chart-per"></h2>
            <p class="chart-para">of these shooters were "white" or of European descent.</p>
        </div>
    </div>
</div>